# deps
/node_modules

# test & build
/coverage
/dist
/.shiso
/.next/
/.source/
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.claude

# others
.env*.local
.vercel
next-env.d.ts
